#navcheck {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  backdrop-filter: blur(2px);
}
label .burger-container {
    width: 2.75em;
    height: 2.75em;
    margin: .5em;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 3;
    cursor: pointer;
}

label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 1.75em;
    height: 1.75em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.7;
}
label .burger::before,
label .burger .bar, label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: #d8d8d8;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
  top: 44%;
}
label .burger::before {
  top: 0;
  transform-origin: top left;
}
label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
  opacity: 1;
}

nav {
  position: fixed;
  top: 50vh;
  /* left: 0;
  bottom: 0; */
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  /* material acceleration */
  transform: translate(-100%, -50%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}
nav a {
  margin: 0;
  padding: 0.2em 2em;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color 0.15s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
  color: black;
} */

app-root {
  overflow: hidden;
}
app-root {
  /* material acceleration */
  /* will-change: filter; */
}

[id=navcheck]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id=navcheck]:checked + label .burger::before, [id=navcheck]:checked + label .burger::after {
  width: 141.42%;
}
[id=navcheck]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}
[id=navcheck]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}
[id=navcheck]:checked + label .burger .bar {
  transform: scale(0.1);
}
[id=navcheck]:checked ~ nav {
  transform: translate(0, -50%);
}
[id=navcheck]:checked ~ nav::before {
  /* transform: skewX(15deg) translateX(0); */
}
[id=navcheck]:checked ~ nav a {
  transform: translateX(0);
}
[id=navcheck]:checked ~ app-root {
  /* filter: blur(2px); */
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.settings-checkbox-wrapper {
  margin: 0;
  padding: 0.2em 2em;
}

.settings-checkbox-wrapper .checkbox {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.settings-checkbox-wrapper .checkbox > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.settings-checkbox-wrapper .checkbox__icon {
  display: inline-block;
  color: #999;
  vertical-align: middle;
  margin-right: 5px;
}
.settings-checkbox-wrapper input[type="checkbox"]:checked ~ .checkbox__icon {
  color: #2A7DEA;
}

.settings-checkbox-wrapper .checkbox__icon:before {
  font-family: "icons-27";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.settings-checkbox-wrapper .icon--check:before,
.settings-checkbox-wrapper input[type="checkbox"]:checked ~ .checkbox__icon:before {
  content: "\e601";
}

.settings-checkbox-wrapper .icon--check-empty:before,
.settings-checkbox-wrapper .checkbox__icon:before {
  content: "\e600";
}

.settings-checkbox-wrapper .checkbox__label {
  font-size: 1.5rem;
  color: #fff;
}

@font-face {
  font-family: "icons-27";
  font-weight: normal;
  font-style: normal;
  src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAR4AAoAAAAABDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAPgAAAD4fZUAVE9TLzIAAAHsAAAAYAAAAGAIIvy3Y21hcAAAAkwAAABMAAAATBpVzFhnYXNwAAACmAAAAAgAAAAIAAAAEGhlYWQAAAKgAAAANgAAADYAeswzaGhlYQAAAtgAAAAkAAAAJAPiAedobXR4AAAC/AAAABgAAAAYBQAAAG1heHAAAAMUAAAABgAAAAYABlAAbmFtZQAAAxwAAAE5AAABOUQYtNZwb3N0AAAEWAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAAB8Dx0AAACBER0AAAAJHQAAAO8SAAcBAQgPERMWGyBpY29tb29uaWNvbW9vbnUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAQEEBwoNL2X8lA78lA78lA77lA6L+HQVi/yU+JSLi/iU/JSLBd83Fffsi4v77Pvsi4v37AUOi/h0FYv8lPiUi4v33zc3i/s3++yLi/fs9zeL398F9wCFFftN+05JzUdI9xr7GveR95FHzwUO+JQU+JQViwwKAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gEB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAf/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAACkYCfgXw889QALAgAAAAAAz65FuwAAAADPrkW7AAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAYAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAAAAFAAAAYAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
}


