
/*= GENERAL STYLING
--------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Salsa|Ubuntu:300');

body{
	margin: 0;
	padding: 0;
	width:100%;
	overflow:hidden;
	background-color:#333333;
}

h1 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 30px;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 15px;
	padding: 0;
}

h3 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 25px;
	padding: 0;
	z-index: 1;
	position: relative;
}

p {
	font-family:  'Ubuntu', sans-serif;
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	margin-bottom:15px;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: "Ubuntu";
	font-weight: bold;
	cursor: pointer;
}
a:visited, a:focus, a:hover, a:active {
	color: #fff;
	text-decoration: underline;
}

.vertical {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	height: 41rem;
	text-align: start;
	float: right;
	line-height: 1.8;
	padding: 1rem;
}



/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#spinner-wrapper {
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	position:fixed;
	z-index: 9999;
}
.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
	
	& .path {
	  stroke: hsl(0, 0%, 100%);
	  stroke-linecap: round;
	  animation: dash 1.5s ease-in-out infinite;
	}
	
  }
  
  @keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
  }
  

#menu-button-container {
	position: fixed;
	font-family: "Ubuntu", sans-serif;
    font-weight: 300;
	font-size: 15px;
	color: #fff;
	height: 40px;
	width: 45px;
	background: rgba(0,0,0,0.6);
	border-radius: 0 20px 20px 0;
	top: 50px;
	left: 250px;
	opacity: 0;
	z-index: 9998;
}
#menu-button-container img {
	width: 30px;
	height: 30px;
	margin: 5px 10px;
	cursor: pointer;
	-moz-transition: transform .2s;
  	-webkit-transition: transform .2s;
  	transition: transform .2s;
}
.flip{
	transform: rotate(180deg);
}

#myNavbar {
	font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 15px;
	position: fixed;
	background: rgba(0,0,0,0.6);
	padding-top: 5px;
	width: 250px;
	height: 100vh;
	left:0;
	top: 0;
	z-index: 9998;
	opacity:0;
	-moz-transition: transform 200ms;
  	-webkit-transition: transform 200ms;
  	transition: transform 200ms;
}
#myNavbar a {
	color: #fff;
}
#myNavbar ul {
	list-style: none;
	text-align: right;
	padding: 0 35px;
	top: 50vh;
	transform: translateY(-50%);
}

.center { margin: 0 auto; }
.content{
	margin: 0 auto;
	width: 100%;
	opacity: 0;
}

.scroll-down {
	top: 90vh;
    height: 10vh;
    position: absolute;
	opacity: 0;
}

.scroll-down-img {
	position: relative;
    left: 40vw;
    transform: translateX(-50%);
    max-width: 100vw;
    max-height: 10vh;
}

#mouse-scroll {
	position: relative;
    left: 40vw;
    transform: translateX(-50%);
    max-width: 100vw;
    max-height: 10vh;
	-webkit-transform: translateX(-50%);
	z-index: 9999;
  }
  #mouse-scroll span{
	display: block;
	width: 10px; 
	height: 10px;
	-ms-transform: rotate(45deg) skew(-5deg,-5deg);
	  -webkit-transform: rotate(45deg) skew(-5deg,-5deg);
		 transform: rotate(45deg) skew(-5deg,-5deg);
		 transform: rotate(45deg) skew(-5deg,-5deg);
	border-right: 2px solid #fff; 
	border-bottom: 2px solid #fff;
  }
  #mouse-scroll .mouse {
	height: 21px;
	width: 14px;
	border-radius: 10px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	border: 2px solid #ffffff;
	top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
	margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
	-webkit-animation: mouse-scroll 1s infinite; 
	  -moz-animation: mouse-scroll 1s infinite:
  }
  #mouse-croll .down-arrow-1 {
	 -webkit-animation-delay: .1s; 
	 -moz-animation-delay: .1s;
	 -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
	-webkit-animation-delay: .2s; 
	-moz-animation-delay: .2s;
	-webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
	 -webkit-animation-delay: .3s;
	 -moz-animation-dekay: .3s;
	 -webkit-animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
	height: 5px;
	width: 2px;
	display: block; 
	margin: 5px auto;
	background: #ffffff;
	position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
	moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	100% {
	   opacity: 0;
	  -webkit-transform: translateY(6px);
	  -ms-transform: translateY(6px);
	  transform: translateY(6px);
	}
  }
  @-webkit-keyframes mouse-scroll {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: .5;
	}
	100% {
	  opacity: 1;
	} 
  }
  @keyframes mouse-scroll {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1;
	}
  }



.avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.avatar-img {
	position: absolute;
    max-width: 100vw;
    max-height: 60vh;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

.avatar-inline {
    position: relative;
    top: -5vh;
    height: 25vh;
}

.avatar-img-inline {
	bottom: -5vh;
    position: relative;
    left: 40vw;
    transform: translateX(-50%);
    max-width: 100vw;
    max-height: 30vh;
}

/** skills blocks
*/
.skillblock {
	margin: 0;
    height: 480px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.skydiving-note-border {
	max-width: 90vw;
    border-radius: 0vw;
    padding: 2vw;
}

.skydiving-note {
	opacity: 0;
}

.skydiving-note-arrow {
	width: 100px; 
	height:33px; 
	position: absolute; 
	left:30vw; 
	transform: rotate(30deg);
}

.skydiving-note-click {
	position: absolute; 
	left:30vw; 
}

#view-skill-button {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 99;
    cursor: pointer;
}

.thumbnail {
	height:63px;
	display: inline;
}
.ece-lab-gallery {
    position: relative;
}


#formore a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: "Ubuntu";
	font-weight: bold;
}
#formore a:hover {
	text-decoration: underline;
}

#resume a {
	color: #fff;
	font-size: 30px;
	font-family: "Ubuntu";
	font-weight: bold;
	opacity: 1;
	text-decoration: none;

}
#resume a:hover {
	text-decoration: underline;
}


.thumb {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	vertical-align: top;
	display:inline-block;
	cursor: pointer;
}

@keyframes fadeInUp {
	from {
	  transform: translate3d(-10vw,0,0);
	}
  
	to {
	  transform: translate3d(0,0,0);
	  opacity: 1    
	}
  }
  
  .animated {
	animation-duration: .5s;
	animation-fill-mode: both;
  }
  
  .animatedFadeInUp {
	opacity: 0;
  }
  
  .fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
  }



/*= SLIDES STYLING
--------------------------------------------------------*/
.parallax-mirror {
	opacity: 0;
}
.slide1{

	min-height:100vh;
	width:100%;
	color: #fff;
	overflow: hidden;
    padding: 5vh 10vw;

}

.slide2{
	background-color: #fff;
	color: #333333;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
    padding: 5vh 10vw;
    overflow: hidden;
}

.slide2 a {
	color: #333333;
	text-decoration: none;
	font-size: 20px;
	font-family: "Ubuntu";
	font-weight: bold;
}
.slide2 a:visited, .slide2 a:focus, .slide2 a:hover, .slide2 a:active {
	color: #333333;
	text-decoration: underline;
}

.slide{
	height: auto;
	margin: 0 auto;
    padding: 5vh 10vw;
	color: #fff;
    overflow: hidden;
	min-height: 60vh;
}

.slide3{
	height: auto;
	margin: 0 auto;
    padding: 5vh 10vw;
	color: #fff;
    overflow: hidden;

}



/* FOOTER */
#f {
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: #4d4d4d;
}

#f i {
    margin-left: 15px;
	margin-right: 15px;
	font-size: 25px;
}

#f a {
	color: white;
}
.social-network {
	letter-spacing: 1rem;
}

.social-network a{
	font-size: 60px;
}
.social-network a :hover{
	color: white;
}

.website-history-gallery {
    display: inline-block;
	max-width: 200px;
	width: 30vw;
}


/*media queries for computer screens*/
@media screen
  and (min-device-width: 1200px)  {
	
    .content{
        margin: 0 auto;
		width: 100%;
		max-width: 720px;
	}	
	.skydiving-note-arrow {
		left:60vw; 
	}

}


 