
/*= GENERAL STYLING
--------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Ubuntu:wght@300');

body{
	margin: 0;
	padding: 0;
	width:100%;
	overflow:hidden;
	background-color:#333333;
	font-family: "Ubuntu", sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 300;
	font-size: 30px;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 15px;
	padding: 0;
}

h3 {
	font-weight: 300;
	font-size: 20px;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 25px;
	padding: 0;
	position: relative;
}

p {
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	margin-bottom:15px;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	display: inline-block;
	transition: transform 0.3s ease;
}
a:visited, a:active {
	color: #fff;
	text-decoration: underline;
	outline: none;
}
a:hover, a:focus {
	color: #fff;
	text-decoration: underline;
	outline: none;
	transform: scale(1.05);
}

.title {
	top: 50svh;
	position: absolute;
	transform: translateY(-50%);
}


.center { margin: 0 auto; }
.content{
	margin: 0 auto;
	width: 100%;
	opacity: 0;
}

/* SCROLL DOWN ANIMATION */
.scroll-down {
	bottom: 0;
	position: absolute;
	opacity: 0;
	width: 40vw;
	left: 50vw;
}

.scroll-down-text {
	transform: translateX(-50%);
}

.scrolled {
	pointer-events: none;
	opacity: 0;
	-webkit-animation: text-disappear .5s; 
	-moz-animation: text-disappear .5s;
}

@-webkit-keyframes text-disappear {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@-webkit-keyframes text-disappear {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	} 
}
@keyframes text-disappear {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 0;
	}
}

.scroll-down-img {
	position: relative;
    left: 40vw;
    transform: translateX(-50%);
    max-width: 100vw;
    max-height: 10svh;
}

#mouse-scroll {
	position: absolute;
	bottom: 0;
}
#mouse-scroll span{
	display: block;
	width: 10px; 
	height: 10px;
	-ms-transform: rotate(45deg) skew(-5deg,-5deg);
		-webkit-transform: rotate(45deg) skew(-5deg,-5deg);
			transform: rotate(45deg) skew(-5deg,-5deg);
			transform: rotate(45deg) skew(-5deg,-5deg);
	border-right: 2px solid #fff; 
	border-bottom: 2px solid #fff;
}
#mouse-scroll .mouse {
	height: 21px;
	width: 14px;
	border-radius: 10px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	border: 2px solid #ffffff;
	top: 170px;
}
#mouse-scroll .down-arrow-1 {
	margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
	-webkit-animation: mouse-scroll 1s infinite; 
	-moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
	-webkit-animation-delay: .1s; 
	-moz-animation-delay: .1s;
	-webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
	-webkit-animation-delay: .2s; 
	-moz-animation-delay: .2s;
	-webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
	-webkit-animation-delay: .3s;
	-moz-animation-dekay: .3s;
	-webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
	height: 5px;
	width: 2px;
	display: block; 
	margin: 5px auto;
	background: #ffffff;
	position: relative;
}
#mouse-scroll .mouse-in {
	-webkit-animation: animated-mouse 1.2s ease infinite;
	moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
	}
}
@-webkit-keyframes mouse-scroll {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	} 
}
@keyframes mouse-scroll {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1;
	}
}


/* div main */
.avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100svh;
    width: 100vw;
    max-width: 100%;
}

.avatar-img {
	position: absolute;
    max-width: 100vw;
    max-height: 60svh;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

.avatar-inline {
    position: relative;
    top: -5svh;
    height: 25svh;
}

.avatar-img-inline {
	position: absolute;
	left: 40vw;
	transform: translate(-50%, 5svh);
	max-width: 100vw;
	max-height: 30svh;
}

/** skills blocks
*/
.skillblock {
	margin: 0;
    height: 480px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

/* skydiving note */
.skydiving-note-border {
	max-width: 90vw;
    border-radius: 0vw;
	display: grid;
}

.skydiving-note {
	opacity: 0;
}

.note-body {
	pointer-events: none;
}

.skydiving-note-arrow {
	width: 100px; 
	height:33px; 
	position: absolute; 
	left:30vw; 
	transform: rotate(30deg);
}

.skydiving-note-click {
	position: relative;
	/* left: 30vw; */
}

.thumbnail {
    display: inline;
    /* width: 17vw; */
    min-width: 80px;
    max-width: 10rem;
}
.ece-lab-gallery {
    position: relative;
	display: grid;
}

@keyframes fadeInUp {
	from {
	  transform: translate3d(-25px,0,0);
	}
  
	to {
	  transform: translate3d(0,0,0);
	  opacity: 1    
	}
  }
  
  .animated {
	animation-duration: .5s;
	animation-fill-mode: both;
	pointer-events: all;
  }
  
  .animatedFadeInUp {
	opacity: 0;
  }
  
  .fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
  }



/*= SLIDES STYLING
--------------------------------------------------------*/
.parallax-mirror {
	opacity: 0;
}
.slide1{

	min-height:100svh;
	width:100%;
	color: #fff;
	overflow: hidden;
    padding: 5svh 10vw;

}

.slide2{
	background-color: #fff;
	color: #333333;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
    padding: 5svh 10vw;
    overflow: hidden;
}

.slide{
	height: auto;
	margin: 0 auto;
    padding: 5svh 10vw;
	color: #fff;
    overflow: hidden;
	min-height: 60svh;
}

.slide3{
	height: auto;
	margin: 0 auto;
    padding: 5svh 10vw;
	color: #fff;
    overflow: hidden;

}



/* FOOTER */
#f {
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: #4d4d4d;
}

#f i {
    margin-left: 15px;
	margin-right: 15px;
	font-size: 25px;
}

#f a {
	color: white;
}
.social-network {
	letter-spacing: 1rem;
}

.social-network a{
	font-size: 60px;
}
.social-network a :hover{
	color: white;
}
.gallery-scroll {
	display: flex; 
	gap: 1rem; 
	overflow-x: auto; 
	padding: 1rem 0;
}
.website-history-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
	width: 12rem;
	box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.20) !important;
    padding: 10px;
}
.clippy-activate-link {
	position: absolute;
	right: 0;
	font-size: 10px;
}
.clippy-container {
    position: fixed;
    left: 70lvw;
    top: 90lvh;
}
.clippy-select {
	display: inline-block;
;
}
.clippy-animations-select {
	display: inline-block;
}
.clippy-select-option{
    background-color: rgba(0,0,0,0.3);
	border: none;
}
.clippy-select-option option {
    background-color: gray;
    color: white;
}




/*media queries for computer screens*/
@media screen
  and (min-device-width: 1200px)  {
	
    .content{
        margin: 0 auto;
		width: 100%;
		max-width: 640px;
	}	
	.skydiving-note-arrow {
		left:60vw; 
	}

}


 